# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dvspbqrqubcndqyitdac.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_KEY=your_service_role_key_here

# Mercado Pago (pendiente)
# MP_PUBLIC_KEY=
# MP_ACCESS_TOKEN=
